.Memojiwidget{
    position: relative; /* Sets a reference for absolute positioning */
    width: 45rem;
    height: 60rem;
    top: 3rem;
    left: 4rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 4.5rem;
    padding-left: 4.5rem; /* Add padding to make room inside the widget */
    box-sizing: border-box; /* Ensures padding doesn't overflow the element */
    font-family: 'Inter', sans-serif;
}


.AboutMe{
    position: relative; /* Sets a reference for absolute positioning */
    width: 80rem;
    height: 30rem;
    top: -57rem;
    left: 55rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 2rem;
    padding-left: 2.5rem; /* Add padding to make room inside the widget */
    box-sizing: border-box; /* Ensures padding doesn't overflow the element */
    font-family: 'Inter', sans-serif;
}
.AboutMe > .content{
    margin-top: 0;
}
.AboutMe > .content h4{
    font-weight: 400;
    font-size: 2.75rem;
    text-align: left;
    margin-bottom: 3rem;
    color: rgb(245, 245, 245);
}
.AboutMe > .content p{
    font-weight: 300;
    font-size: 2rem;
    text-align: left;
    margin: 1.5rem 0;
    color: rgb(245, 245, 245, 0.75);
    padding-right: 5rem;
}
.Music{
    position: relative; /* Sets a reference for absolute positioning */
    width: 39rem;
    height: 28rem;
    top: -55rem;
    left: 55rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    box-sizing: border-box; /* Ensures padding doesn't overflow the element */
    font-family: 'Inter', sans-serif;
}
.title-container{
    display: flex;
    justify-content: space-between; /* Aligns the content to the left */
}
.title-container svg{
    display: flex;
    margin-right: 1rem; /* Adds spacing between the text and the SVG */

}
.title-container a{
    display: block;
    width: 5rem;
    height: 5rem;
    padding-top: 1rem;
    padding-right: 1rem;
    transition: transform 0.3s ease; /* Smooth transition for the movement */
}
.title-container a:hover{
    transform: translateY(-0.525rem); /* Moves the logo up when hovered */
}
.Music > .content{
    margin-top: 0;
}
.Music > .content h4{
    font-weight: 400;
    font-size: 2.75rem;
    text-align: left;
    color: rgb(245, 245, 245);
    padding-left: 2.5rem;
    padding-top: 2rem;
}


.Spotify-Playlist{
    position: relative;
    width: 45rem;
    left: 9.5rem;
    margin-top: 1rem;

}
.Spotify-Playlist p{
    text-align: center;
    font-size: 1.5rem;
}

.Hobbies{
    position: relative; /* Sets a reference for absolute positioning */
    width: 39rem;
    height: 28rem;
    top: -83rem;
    left: 96rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 4.5rem;
    padding-left: 4.5rem; /* Add padding to make room inside the widget */
    box-sizing: border-box; /* Ensures padding doesn't overflow the element */
    font-family: 'Inter', sans-serif;
}