body {
    overflow: hidden; /* Hide scrollbars */
}
.ashtonAkridge{
    position: relative; /* Sets a reference for absolute positioning */
    width: 45rem;
    height: 60rem;
    top: 3rem;
    left: 4rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 2rem;
    padding-left: 2.5rem; /* Add padding to make room inside the widget */
    box-sizing: border-box; /* Ensures padding doesn't overflow the element */
    font-family: 'Inter', sans-serif;
}
.ashtonAkridge > .content{
    margin-top: 0;
    left: 10rem;
}
.ashtonAkridge h4{
    font-weight: 400;
    color: rgb(245, 245, 245);
}
.ashtonAkridge img{
    border-radius: 20rem;
    width: 25rem;
    height: 25rem;
    margin-top: 10rem;

}
.ashtonAkridge p {
    font-weight: 400;
    text-align: center;
}
.ashtonAkridge > .content div{
    margin-left: -4rem;
}

.AboutMe{
    position: relative; /* Sets a reference for absolute positioning */
    width: 80rem;
    height: 30rem;
    top: -57rem;
    left: 55rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 2rem;
    padding-left: 2.5rem; /* Add padding to make room inside the widget */
    box-sizing: border-box; /* Ensures padding doesn't overflow the element */
    font-family: 'Inter', sans-serif;
}
.AboutMe > .content{
    margin-top: 0;
}
.AboutMe > .content h4{
    font-weight: 400;
    font-size: 2.75rem;
    text-align: left;
    margin-bottom: 3rem;
    color: rgb(245, 245, 245);
}
.AboutMe > .content p{
    font-weight: 300;
    font-size: 2rem;
    text-align: left;
    margin: 1.5rem 0;
    color: rgb(245, 245, 245, 0.75);
    padding-right: 5rem;
}
.Music{
    position: relative; /* Sets a reference for absolute positioning */
    width: 39rem;
    height: 28rem;
    top: -55rem;
    left: 55rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    box-sizing: border-box; /* Ensures padding doesn't overflow the element */
    font-family: 'Inter', sans-serif;
}
.title-container{
    display: flex;
    justify-content: space-between; /* Aligns the content to the left */
}
.title-container svg{
    display: flex;
    margin-right: 1rem; /* Adds spacing between the text and the SVG */
}
.title-container a{
    display: block;
    width: 5rem;
    height: 5rem;
    padding-top: 1rem;
    padding-right: 1rem;
    transition: transform 0.3s ease; /* Smooth transition for the movement */
}
.title-container a:hover{
    transform: translateY(-0.525rem); /* Moves the logo up when hovered */
}
.Music > .content{
    margin-top: 0;
}
.Music > .content h4{
    font-weight: 400;
    font-size: 2.75rem;
    text-align: left;
    color: rgb(245, 245, 245);
    padding-left: 2.5rem;
    padding-top: 2rem;
}
.Spotify-Playlist{
    position: relative;
    width: 45rem;
    left: 9.8rem;
    margin-top: 1rem;

}
.Spotify-Playlist p{
    text-align: center;
    font-size: 1.5rem;
}
.Spotify-Playlist img{
    width: 200px;
    height: 200px;
    object-fit: fill;
    margin-Bottom: 10px;
    border-Radius: 8px;
}
.Hobbies{
    position: relative; /* Sets a reference for absolute positioning */
    width: 39rem;
    height: 28rem;
    top: -83rem;
    left: 96rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 2rem;
    padding-left: 2.5rem; /* Add padding to make room inside the widget */
    box-sizing: border-box; /* Ensures padding doesn't overflow the element */
    font-family: 'Inter', sans-serif;
}
.Hobbies h4{
    font-weight: 400;
    font-size: 2.75rem;
    color: rgb(245, 245, 245);
}
.Hobbies > .content{
    margin-top: 0;
}
.Hobbies > .content img{
    border-radius: 1rem;
}
.Hobbies > .content div{
    margin-left: 10rem;
    margin-top: 1rem;
}
.Hobbies > .content p{
    position: relative;
    top: 250px;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0;
    left: 85px;
    font-weight: bold;
}
@media screen and (min-width: 2241px) {
    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        left: 5%;
    }

}
@media screen and (max-width: 2190px) {
    .ashtonAkridge > .content div{
        margin-left: 0;
    }
    .container{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        left: 5rem;
    }
    .ashtonAkridge{
        width: 35rem;
        height: 55rem;
        top: 3rem;
        left: 4.5rem;
    }
    .ashtonAkridge img{
        margin-top: 6rem;
    }
    .ashtonAkridge > .content div{
        position: relative;
        left: -1rem
    }

    .AboutMe{
        width: 70rem;
        height: 30rem;
        top: -52rem;
        left: 45rem;
    }
    .AboutMe > .content p{
        font-weight: 300;
        font-size: 2rem;
        text-align: left;
        margin: 1.75rem 0;
        color: rgb(245, 245, 245, 0.75);
        padding-right: 3.5rem;
    }
    .Music{
        width: 34rem;
        height: 23rem;
        top: -50rem;
        left: 45rem;
    }
    .title-container a:hover{
        transform: none/* Moves the logo up when hovered */
    }

    .Music > .content h4{
        padding-left: 2.25rem;
        padding-top: 1.75rem;
        font-size: 2.5rem;
    }
    .Spotify-Playlist{
        position: relative;
        width: 45rem;
        left: 7.5rem;
        margin-top: 0;
    }
    .Spotify-Playlist p{
        text-align: center;
        font-size: 1.25rem;
        margin-top: 0;
    }
    .Spotify-Playlist img{
        width: 10.9375rem;
        height: 10.9375rem;
        object-fit: fill;
        margin-Bottom: 0;
        border-Radius: 8px;
    }
    .Hobbies {
        width: 34rem;
        height: 23rem;
        top: -73rem;
        left: 81rem;
        padding-top: 1.5rem;
        padding-left: 2rem;

    }
    .Hobbies > .content img{
        border-radius: 1rem;
        width: 12rem;
        height: 12rem;
    }
    .Hobbies > .content div{
        margin-left: 9rem;
        margin-top: 1rem;
    }
    .Hobbies > .content p{
        position: relative;
        top: 200px;
        text-align: center;
        font-size: 1.5rem;
        opacity: 0;
        left: 70px;
        font-weight: bold;
    }
}
@media screen and (max-width: 1950px) {
    .container {
        left: -2%;
    }
}
@media screen and (max-width: 1892px) {
    .ashtonAkridge{
        width: 30rem;
        height: 47rem;
        top: 3rem;
        left: 6rem;
    }
    .ashtonAkridge img{
        margin-top: 6rem;
        width: 20rem;
        height: 20rem;
    }

    .AboutMe{
        width: 60rem;
        height: 25rem;
        top: -44rem;
        left: 40rem;
    }
    .AboutMe > .content p{
        font-size: 1.5rem;
    }
    .Music{
        width: 29rem;
        height: 21rem;
        top: -43rem;
        left: 40rem;
    }

    .Music > .content h4{
        padding-left: 2.25rem;
        padding-top: 1.75rem;
        font-size: 2rem;
    }

    .Scale{
        width: 4rem;
        height: 4rem;

    }
    .title-container a{
        display: block;
        width: 4rem;
        height: 4rem;
        padding-top: 1rem;
        padding-right: 1rem;
    }

    .Spotify-Playlist{
        width: 23rem;
        left: 5rem;
        margin-top: 0.25rem;
    }
    .Spotify-Playlist p{
        text-align: center;
        font-size: 1rem;
    }
    .Spotify-Playlist img{
        width: 11rem;
        height: 11rem;
        margin-Bottom: 0;
    }

    .Hobbies {
        width: 29rem;
        height: 21rem;
        top: -64rem;
        left: 71rem;
        padding-top: 1.5rem;
        padding-left: 2rem;

    }
    .Hobbies > .content img{
        border-radius: 1rem;
        width: 11.5rem;
        height: 11.5rem;
    }
    .Hobbies > .content div{
        margin-left: 7.5rem;
        margin-top: 0.5rem;
    }
    .Hobbies > .content p{
        position: relative;
        top: 12.25rem;
        text-align: center;
        font-size: 1rem;
        opacity: 0;
        left: 4.5rem;
        font-weight: bold;
    }
}
@media screen and (max-width: 1599px) {
    .ashtonAkridge{
        width: 25rem;
        height: 42rem;
}
    .ashtonAkridge img{
        margin-top: 6rem;
        width: 20rem;
        height: 20rem;
    }
    .AboutMe{
        width: 55rem;
        height: 20rem;
        top: -39rem;
        left: 33rem;
    }
    .AboutMe > .content p{
        font-size: 1.25rem;
    }
    .AboutMe > .content h4{
        margin-bottom: 1.5rem;

    }
    .Music{
        width: 27rem;
        height: 21rem;
        top: -38rem;
        left: 33rem;
    }

    .Music > .content h4{
        padding-left: 2.25rem;
        padding-top: 1.75rem;
        font-size: 1.75rem;
    }

    .Spotify-Playlist{
        width: 23rem;
        left: 3.75rem;
        margin-top: 0.25rem;
    }
    .Spotify-Playlist p{
        text-align: center;
        font-size: 1rem;
    }
    .Spotify-Playlist img{
        width: 11rem;
        height: 11rem;
        margin-Bottom: -10px;
    }

    .Hobbies {
        width: 27rem;
        height: 21rem;
        top: -59rem;
        left: 61rem;
        padding-top: 1.5rem;
        padding-left: 2rem;

    }
    .Hobbies > .content div{
        margin-left: 5.75rem;
        margin-top: 0.5rem;
    }
    .Hobbies > .content p{
        position: relative;
        top: 12.25rem;
        text-align: center;
        font-size: 1rem;
        opacity: 0;
        left: 4.5rem;
        font-weight: bold;
    }
}
@media screen and (max-width: 1400px) {
    .container{
        left: -5%;
    }
}
@media screen and (max-width: 1360px) {
    body{
        overflow-y: visible;
        overflow-x: hidden;
    }
    .container{
        left: -6rem;
    }
    .ashtonAkridge,
    .AboutMe,
    .Music,
    .Hobbies{
        margin-left: auto;
        margin-right: auto;
    }
    .ashtonAkridge img{
        margin-top: 6rem;
        width: 20rem;
        height: 20rem;
    }
    .AboutMe{
        width: 25rem;
        height: 35rem;
        top: 5rem;
        left: 6rem;
    }
    .AboutMe > .content p{
        font-size: 1.25rem;
    }
    .AboutMe > .content h4{
        margin-bottom: 1.5rem;

    }
    .Music{
        width: 25rem;
        height: 21rem;
        top: 7rem;
        left: 6rem;
    }

    .Music > .content h4{
        padding-left: 2.25rem;
        padding-top: 1.75rem;
        font-size: 1.75rem;
    }

    .Spotify-Playlist{
        width: 23rem;
        left: 2.75rem;
        margin-top: 0.25rem;
    }
    .Spotify-Playlist p{
        text-align: center;
        font-size: 1rem;
    }
    .Spotify-Playlist img{
        width: 11rem;
        height: 11rem;
        margin-Bottom: -10px;
    }

    .Hobbies {
        width: 25rem;
        height: 21rem;
        top: 9rem;
        left: 6rem;
        padding-top: 1.5rem;
        padding-left: 2rem;
        margin-bottom: 12rem;

    }
    .Hobbies > .content div{
        margin-left: 5rem;
        margin-top: 0.5rem;
    }
    .Hobbies > .content p{
        position: relative;
        top: 12.25rem;
        text-align: center;
        font-size: 1rem;
        opacity: 0;
        left: 4.25rem;
        font-weight: bold;
    }
}
@media screen and (max-width: 475px)  {
    .container{
        left: -6rem;
    }
    .ashtonAkridge{
        width: 20rem;
        height: 35rem;
        top: 3rem;
        padding-left: 0;
    }
    .ashtonAkridge img{
        margin-top: 5rem;
        width: 15rem;
        height: 15rem;
    }
    .ashtonAkridge > .content p{
        font-size: 1rem;
    }
    .ashtonAkridge > .content div{
        margin-left: 2.25rem;
    }
    .ashtonAkridge > .content h4{
        text-align: center;
    }
    .AboutMe{
        width: 20rem;
        height: 28rem;
        top: 5rem;
        left: 6rem;
        padding-left: 0;
    }
    .AboutMe > .content p{
        font-size: 1rem;
        text-align: center;
        margin-bottom: 1rem;
        color: rgb(245, 245, 245, 0.75);
        padding: 0 1.5rem 0 1.5rem;
    }
    .AboutMe > .content h4{
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .Music{
        width: 20rem;
        height: 21rem;
        top: 7rem;
        left: 6rem;
    }
    .Scale{
        width: 3rem;
        height: 3rem;

    }
    .title-container a{
        width: 3rem;
        height: 3rem;
        padding-top: 1.25rem;
        padding-right: 1.25rem;
    }

    .Music > .content h4{
        padding-left: 1.75rem;
        padding-top: 1.75rem;
    }

    .Spotify-Playlist{
        width: 20rem;
        left: 0;
        margin-top: 0.5rem;
    }
    .Spotify-Playlist p{
        text-align: center;
        font-size: 0.95rem;
    }
    .Spotify-Playlist img{
        width: 11rem;
        height: 11rem;
        margin-Bottom: -10px;
    }

    .Hobbies {
        width: 20rem;
        height: 21rem;
        top: 9rem;
        left: 6rem;
        padding-top: 1.5rem;
        padding-left: 0;
        margin-bottom: 12rem;
    }
    .Hobbies > .content h4{
        font-size: 1.75rem;
        text-align: center;
    }
    .Hobbies > .content div{
        margin-left: 4.3rem;
        margin-top: 1.5rem;
    }
    .Hobbies > .content p{
        font-size: 1rem;
        left: 4.25rem;
        font-weight: bold;
    }
}