
.Contactwidget{
    position: relative;
    width: 83rem;
    height: 55rem;
    margin-left: auto;
    margin-right: auto;
    top: 7rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 3.5rem;
    padding-left: 4rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.Contactwidget > .content{
    margin:0;
}
.content > .Words h4{
    font-size: 3.5rem;
}
.Email-icon{
    position:relative;
    left: -5%;
}

.boton-elegante {
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.4s ease;
    outline: none;
    overflow: hidden;
    font-weight: bold;
    position: absolute;
    margin-top: 1rem;
    left: 4.75%;
}

.boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(245, 245, 245, 0) 40%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
    transform: scale(4);
}

.boton-elegante:hover {
    border-color: #666666;
    background: #292929;
}
.In-SiteEmailWidget{
    position: relative;
    width: 75rem;
    height: 35rem;
    top: 7rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 2rem;
    padding-left: 2rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.In-SiteEmailWidget > .Words h4{
    font-size: 2.25rem;
}
.Name-Email{
    display: flex;
    position: relative;
    left: 3rem;
}
.Name h6,
.Email h6{
    color: rgb(245, 245, 245, 0.75);
    font-size: 1.5rem;
    font-weight: lighter;
    margin-top: 1.5rem;
    margin-bottom:0;
}
.Email h6{
    position : absolute;
    left: 40.5rem;
}
.Name h6{
    position: absolute;
    left: 2rem;
}

/* Input Fields */
.Name input {
    position: absolute;
    display: block;
    width: 15rem;
    height: 1rem;
    margin-top: 15rem;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.1);
    color: white;
    border: 0.01rem solid rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    top: -11rem;
    left: 2rem;
}


.Email input{
    position: absolute;
    display: block;
    left: 40.5rem;
    top: 4rem;
    width: 15rem;
    height: 1rem;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.1);
    color: white;
    border: 0.01rem solid rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}


.Name input:focus, .Email input:focus, .Message textarea:focus {
    outline: none;
    border-color: #007bff;
}

/* Submit Button */
.SubmitButton {
    display: flex;
    justify-content: flex-start;
}
.SubmitButton button {
    position: absolute;
    width: 62rem;
    left: 6.75rem;
    margin-top: 23rem;
}
/* Textarea */
.Message textarea {
    width: 60rem;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.1);
    color: white;
    border: 0.01rem solid rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    resize: none;
    min-height: 150px;
    position: relative;
    font-family: 'Inter', sans-serif;
    left:5rem;
    margin-top: 3rem;

}

.Message h6{
    position: absolute;
    color: rgb(245, 245, 245, 0.75);
    font-size: 1.5rem;
    font-weight: lighter;
    left: 5rem;
    margin-top: 0.5rem;
}
.Message{
    position :absolute;
    margin-top: 8rem;
}

@media screen and (max-width: 1690px){
    .Contactwidget{
        position: relative;
        width: 80rem;
        height: 55rem;
        top: 7rem;
        border-radius: 2rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
        background-color: rgb(255, 255, 255, 0.02);
        padding-top: 2.5rem;
        padding-left: 2.5rem;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
    }
}
@media screen and (max-width: 1315px){
    .Contactwidget{
        position: relative;
        width: 55rem;
        height: 45rem;
        top: 7rem;
        padding-left: 2.5rem;
    }
    .content > .Words h4{
        font-size: 3rem;
    }
    .boton-elegante {
        padding: 13px 27px;
    }
    .In-SiteEmailWidget{
        position: relative;
        width: 50rem;
        height: 25rem;
        top: 7rem;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
    }
    .In-SiteEmailWidget > .Words h4{
        font-size: 2rem;
    }
    .Name-Email{
        left: -1rem;
    }
    .Name h6,
    .Email h6{
        font-size: 1.25rem;
        margin-top: 1.5rem;
    }
    .Email h6{
        left: 27rem;
    }
    .Name h6{
        left: 2rem;
    }
    /* Input Fields */
    .Name input {
        width: 13rem;
        height: 0.75rem;
        margin-top: 14.5rem;
        padding: 10px;
        top: -11rem;
        left: 2rem;
    }

    .Email input{
        left: 27rem;
        top: 3.5rem;
        width: 13rem;
        height: 0.75rem;
        padding: 10px;
        font-size: 1rem;
    }

    .SubmitButton button {
        width: 45rem;
        left: 2.5rem;
        margin-top: 16rem;
        font-size: 1rem;
    }
    /* Textarea */
    .Message textarea {
        width: 43rem;
        font-size: 1rem;
        min-height: 100px;
        position: relative;
        font-family: 'Inter', sans-serif;
        left:1.25rem;
        margin-top: 2rem;
    }

    .Message h6{
        position: absolute;
        color: rgb(245, 245, 245, 0.75);
        font-size: 1.25rem;
        font-weight: lighter;
        left: 1.2rem;
        margin-top: -0rem;
    }
    .Message{
        margin-top: 6rem;
    }
    .Words p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 900px) {
    .Contactwidget {
        width: 35rem;
        height: 27rem;
        top: 13rem;
        padding-left: 2rem;
        padding-top: 1.5rem;
    }
    .content > .Words h4 {
        font-size: 2rem;
    }
    .content > .Words p {
        font-size: 0.75rem;
    }

    .boton-elegante {
        padding: 5px 10px;
        font-size: 0.75rem;
        cursor: pointer;
        border-radius: 10px;
        transition: all 0.4s ease;
        margin-top: 0.5rem;
        left: 4.75%;
    }

    .In-SiteEmailWidget {
        position: relative;
        width: 31rem;
        height: 17rem;
        top: 3rem;
        padding-top: 1rem;
        padding-left: 1.25rem;
    }
    .In-SiteEmailWidget > .Words p {
        font-size: 0.75rem;
    }

    .In-SiteEmailWidget > .Words h4 {
        font-size: 1.2rem;
    }

    .Name-Email {
        left: -1.25rem;
    }

    .Name h6,
    .Email h6 {
        font-size: 0.85rem;
        margin-top: 0.8rem;
    }

    .Email h6 {
        left: 17rem;
    }


    /* Input Fields */
    .Name input {
        width: 10rem;
        height: 0.5rem;
        margin-top: 14.5rem;
        padding: 10px;
        top: -12.5rem;
        left: 1.75rem;
        font-size: 0.75rem;
    }

    .Email input {
        left: 16.75rem;
        top: 2rem;
        width: 10rem;
        height: 0.5rem;
        padding: 10px;
        font-size: 0.75rem;
    }

    .SubmitButton button {
        width: 27rem;
        left: 1.5rem;
        margin-top: 11.25rem;
        font-size: 0.75rem;
    }

    /* Textarea */
    .Message textarea {
        width: 25rem;
        font-size: 0.75rem;
        min-height: 40px;
        position: relative;
        font-family: 'Inter', sans-serif;
        left: 0.5rem;
        margin-top: 0;
        top: -2rem;
        line-height: 0.75rem;

    }


    .Message h6 {
        position: absolute;
        color: rgb(245, 245, 245, 0.75);
        font-size: 0.85rem;
        font-weight: lighter;
        left: 0.75rem;
        margin-top: -1.5rem;
    }

    .Message {
        margin-top: 6rem;
    }

    .Words p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 580px) {
    .Contactwidget {
        width: 23rem;
        height: 27rem;
        top: 7rem;
        padding-left: 1.75rem;
        padding-top: 1.25rem;
    }
    .content > .Words h4 {
        font-size: 1.5rem;
    }
    .content > .Words p {
        font-size: 0.5rem;
    }
    .boton-elegante {
        font-size: 0.5rem;
    }
    .In-SiteEmailWidget {
        position: relative;
        width: 20.25rem;
        height: 17rem;
        top: 3rem;
        padding-top: 1rem;
        padding-left: 1rem;
        left: -0.5rem;

    }
    .In-SiteEmailWidget > .Words p {
        font-size: 0.5rem;
    }

    .In-SiteEmailWidget > .Words h4 {
        font-size: 1rem;
    }

    .Name-Email {
        left: -1.75rem;
    }

    .Name h6,
    .Email h6 {
        font-size: 0.65rem;
        margin-top: 0.65rem;
    }

    .Email h6 {
        left: 12rem;
    }


    /* Input Fields */
    .Name input {
        width: 7rem;
        height: 0;
        margin-top: 14.5rem;
        padding: 10px;
        top: -13rem;
        left: 1.75rem;
        font-size: 0.5rem;
        border-radius: 5px;
    }

    .Email input {
        left: 11.75rem;
        top: 1.5rem;
        width: 7rem;
        height: 0;
        padding: 10px;
        font-size: 0.5rem;
        border-radius: 5px;
    }

    .SubmitButton button {
        width: 18.5rem;
        left: 1rem;
        margin-top: 11.25rem;
        font-size: 0.5rem;
    }

    /* Textarea */
    .Message textarea {
        width: 17rem;
        font-size: 0.5rem;
        min-height: 40px;
        position: relative;
        left: 0;
        top: -2.25rem;
        line-height: 0.75rem;
    }


    .Message h6 {
        position: absolute;
        color: rgb(245, 245, 245, 0.75);
        font-size: 0.65rem;
        font-weight: lighter;
        left: 0.25rem;
        margin-top: -1.5rem;
    }

    .Message {
        margin-top: 6rem;
    }

    .Words p {
        font-size: 1rem;
    }
}
@media screen and (max-width: 380px) {
    .Contactwidget {
        left: -0.25rem;

    }
}