@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

.widget{
    position: relative; /* Sets a reference for absolute positioning */
    width: 62.5rem;
    height: 31.25rem;
    margin-left: auto; /* Ensures centerin g */
    margin-right: auto; /* Ensures centering */
    top: 15rem;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 4.5rem;
    padding-left: 4.5rem; /* Add padding to make room inside the widget */
    box-sizing: border-box; /* Ensures padding doesn't overflow the element */
    font-family: 'Inter', sans-serif;
}
.content{
    margin-top: 4rem;
}
.content h4{
    font-weight: 400;
    font-size: 2.75rem;
    text-align: left;
    margin: 0;
    color: rgb(245, 245, 245);
}
/* Highlight the word Ashton */
.highlight {
    color: rgb(245, 245, 245, 0.4);
}
.content p{
    font-weight: 300;
    font-size: 1.25rem;
    text-align: left;
    margin: 0.5rem 0 0;
    color: rgb(245, 245, 245, 0.75);
}
.svg-container {
    display: flex;
    gap:0.625rem;
}
/* Move second SVG to the left */
.github-svg-container svg{
    display: flex; /* Flexbox container for left alignment */
    justify-content: flex-start; /* Aligns the content to the left */
    margin-top: 1rem; /* Adds spacing between the text and the SVG */
}
.github-svg-container a{
    display: block;
    width: 3.25rem;
    transition: transform 0.3s ease; /* Smooth transition for the movement */
}
.github-svg-container a:hover{
    transform: translateY(-0.625rem); /* Moves the logo up when hovered */
}
/* Tooltip styling */
.github-svg-container .tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease;
    position: absolute;
    bottom: -2.8125rem; /* Position the tooltip under the GitHub logo */
    left: 1.6875rem;
    transform: translateX(-50%);
    background-color: rgba(133, 133, 133, 0.53);
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    white-space: nowrap;
}

.github-svg-container a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


/* Move second SVG to the left */
.linkedIn-svg-container svg{
    display: flex; /* Flexbox container for left alignment */
    justify-content: flex-start; /* Aligns the content to the left */
    margin-top: 0.75rem; /* Adds spacing between the text and the SVG */
}
.linkedIn-svg-container a{
    display: block;
    width: 3.5rem;
    transition: transform 0.3s ease; /* Smooth transition for the movement */
}
.linkedIn-svg-container a:hover{
    transform: translateY(-0.625rem); /* Moves the logo up when hovered */
}
/* Tooltip styling */
.linkedIn-svg-container .tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease;
    position: absolute;
    bottom: -2.8125rem; /* Position the tooltip under the GitHub logo */
    left: 1.875rem;
    transform: translateX(-50%);
    background-color: rgba(133, 133, 133, 0.53);
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    white-space: nowrap;
}

.linkedIn-svg-container a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
/* Move second SVG to the left */
.resume-svg-container svg{
    display: flex; /* Flexbox container for left alignment */
    justify-content: flex-start; /* Aligns the content to the left */
    margin-top: 1rem; /* Adds spacing between the text and the SVG */
}
.resume-svg-container a{
    display: block;
    width: 3rem;
    transition: transform 0.3s ease; /* Smooth transition for the movement */
}
.resume-svg-container a:hover{
    transform: translateY(-0.625rem); /* Moves the logo up when hovered */
}
/* Tooltip styling */
.resume-svg-container .tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease;
    position: absolute;
    bottom: -2.8125rem; /* Position the tooltip under the GitHub logo */
    left: 1.875rem;
    transform: translateX(-50%);
    background-color: rgba(133, 133, 133, 0.53);
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    white-space: nowrap;
}

.resume-svg-container a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-height: 850px){
    .widget{
        top: 10rem;
    }
}
@media screen and (max-width: 1045px),
screen and (max-height: 700px){
    .widget{
        width: 42.5rem;
        height: 21.25rem;
        padding-top: 3.5rem;
        padding-left: 3.5rem; /* Add padding to make room inside the widget */
    }
    .content{
        margin-top: 1rem;
    }
    .content h4{
        font-size: 2rem;
        margin: 0;
    }
    .content p{
        font-size: 0.9rem;
        margin: 0.1rem 0 0;
    }
    p svg{
        width: 0.9rem;  /* Adjust size for medium screens */
        height: 0.9rem; /* Adjust size for medium screens */
    }
    .svg-container {
        gap:0.5rem;
    }
    .github-svg-container svg {
        width: 2.25rem;  /* Adjust size for medium screens */
        height: 2.25rem; /* Adjust size for medium screens */
        margin-top: 0.75rem; /* Adds spacing between the text and the SVG */
    }
    .github-svg-container a{
        width: 2.25rem;  /* Adjust size for medium screens */
        height: 2.25rem; /* Adjust size for medium screens */
    }
    .linkedIn-svg-container svg{
        width: 2.75rem;  /* Adjust size for medium screens */
        height: 2.75rem; /* Adjust size for medium screens */
        margin-top: 0.5rem; /* Adds spacing between the text and the SVG */
    }
    .linkedIn-svg-container a{
        width: 2.5rem;  /* Adjust size for medium screens */
        height: 2.5rem; /* Adjust size for medium screens */
    }
    .resume-svg-container svg{
         width: 2.25rem;  /* Adjust size for medium screens */
         height: 2.25rem; /* Adjust size for medium screens */
        margin-top: 0.75rem; /* Adds spacing between the text and the SVG */
    }
    .resume-svg-container a{
        width: 2.25rem;  /* Adjust size for medium screens */
        height: 2.25rem; /* Adjust size for medium screens */

    }
    .resume-svg-container a:hover .tooltip,
    .github-svg-container a:hover .tooltip,
    .linkedIn-svg-container a:hover .tooltip
    {
        visibility: hidden;
        opacity: 0;
    }
    .github-svg-container a:hover,
    .linkedIn-svg-container a:hover,
    .resume-svg-container a:hover{
        transform: translateY(0); /* Moves the logo up when hovered */
    }
}

@media screen and (max-width: 700px),
screen and (max-height: 530px){
    .widget {
        width: 27.5rem;
        height: 15.25rem;
        padding-top: 2.5rem;
        padding-left: 1.5rem; /* Add padding to make room inside the widget */

    }
    .content{
        margin: 0;
    }
    .content h4{
        font-size: 1.5rem;
        margin: 0;
    }
    .content p{
        font-size: 0.7rem;
        margin: 0.2rem 0 0;
    }
    p svg{
        width: 0.7rem;  /* Adjust size for medium screens */
        height: 0.7rem; /* Adjust size for medium screens */
    }
    .svg-container {
        gap:0.3rem;
    }
    .github-svg-container svg {
        width: 2rem;  /* Adjust size for medium screens */
        height: 2rem; /* Adjust size for medium screens */
        margin-top: 0.5rem; /* Adds spacing between the text and the SVG */
    }
    .github-svg-container a{
        width: 2rem;  /* Adjust size for medium screens */
        height: 2rem; /* Adjust size for medium screens */
    }
    .linkedIn-svg-container svg{
        width: 2.5rem;  /* Adjust size for medium screens */
        height: 2.5rem; /* Adjust size for medium screens */
        margin-top: 0.25rem; /* Adds spacing between the text and the SVG */
    }
    .linkedIn-svg-container a{
        width: 2.25rem;  /* Adjust size for medium screens */
        height: 2.25rem; /* Adjust size for medium screens */
    }
    .resume-svg-container svg{
        width: 2rem;  /* Adjust size for medium screens */
        height: 2rem; /* Adjust size for medium screens */
        margin-top: 0.5rem; /* Adds spacing between the text and the SVG */
    }
    .resume-svg-container a{
        width: 2rem;  /* Adjust size for medium screens */
        height: 2rem; /* Adjust size for medium screens */

    }


}
@media screen and (max-width: 475px)
{
    .widget{
        width: 22.5rem;
        height: 13.25rem;
        padding-top: 3rem;
        padding-left: 1.25rem; /* Add padding to make room inside the widget */
        top: 10rem;
    }
    .content h4{
        font-size: 1.35rem;
        margin: 0;
    }
    .content p{
        font-size: 0.6rem;
        margin: 0.1rem 0 0;
    }
    p svg{
        width: 0.6rem;  /* Adjust size for medium screens */
        height: 0.6rem; /* Adjust size for medium screens */
    }
    .svg-container {
        gap:0.3rem;
    }
    .github-svg-container svg {
        width: 2rem;  /* Adjust size for medium screens */
        height: 2rem; /* Adjust size for medium screens */
        margin-top: 0.35rem; /* Adds spacing between the text and the SVG */
    }
    .github-svg-container a{
        width: 2rem;  /* Adjust size for medium screens */
        height: 2rem; /* Adjust size for medium screens */
    }
    .linkedIn-svg-container svg{
        width: 2.25rem;  /* Adjust size for medium screens */
        height: 2.25rem; /* Adjust size for medium screens */
        margin-top: 0.25rem; /* Adds spacing between the text and the SVG */
    }
    .linkedIn-svg-container a{
        width: 2rem;  /* Adjust size for medium screens */
        height: 2rem; /* Adjust size for medium screens */
    }
    .resume-svg-container svg{
        width: 1.9rem;  /* Adjust size for medium screens */
        height: 1.9rem; /* Adjust size for medium screens */
        margin-top: 0.45rem; /* Adds spacing between the text and the SVG */
    }
    .resume-svg-container a{
        width: 1.75rem;  /* Adjust size for medium screens */
        height: 1.75rem; /* Adjust size for medium screens */

    }
}
