.carousel {
    position: relative;
    left: 15.25%;
    top: -1rem;
    max-width: 84.5%;
    overflow: hidden;
    display: flex;

}

.group {
    display: flex;
    gap: 20rem;
    padding-right: 20rem;
    animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
   100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(-100%);
    }
}
.carousel {
    /* ... */
    &:hover .group {
        animation-play-state: paused;
    }
}

.card{
    display: flex;
}


.skillsWidget{
    position: relative;
    width: 94%;
    height: 15rem;
    top: 3rem;
    left: 3%;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 2rem;
    padding-left: 4.5rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.border{
    position: absolute;
    width: 15%;
    height: 10rem;
    left: 3%;
    top: 2.5rem;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-skills h4 {
    font-size: 4rem;
    color: rgb(245, 245, 245);
}
.bottomContainer{
    display: flex;
    gap: 3rem;
}


.experienceWidget{
    position: relative;
    width: 40%;
    height: 43rem;
    top: 5rem;
    left: 3%;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 2.5rem;
    padding-left: 4rem;
    box-sizing: border-box;
}
.experienceWidget > .content{
    margin: 0;
}
.experience,
.education{
    display: flex;
    margin-right: 2rem;

}
.experience-svg svg,
.education svg{
    margin-top: 3rem;
}

.experience-words,
.education-words{
    color: rgb(245, 245, 245, 0.75);
    text-align: start;
}
.experience-words h5{
    position: relative;
    font-size: 2.75rem;
    font-weight: normal;
    margin: 0 0 0 2rem;
    top: 5%;
}
.experience-words p{
    position: relative;
    font-size: 1.25rem;
    margin: 1.5rem 0 0 2.25rem;
}
.experience-words h6{
    position: relative;
    font-size: 1.75rem;
    font-weight: normal;
    margin: 1rem 4rem 0 0;
    left: 4%;
}



.educationWidget{
    position: relative;
    width: 52%;
    height: 43rem;
    top: 5rem;
    left: 3%;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Soft shadow around the box */
    background-color: rgb(255, 255, 255, 0.02);
    padding-top: 2.5rem;
    padding-left: 4rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.educationWidget > .content{
    margin: 0;
}
.education-words h5{
    position: relative;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0 0 0 2rem;
    top: 10%;
}
.education-words p{
    position: relative;
    font-size: 1.25rem;
    margin: 3.25rem 0 0 2rem;
}
.education-words {
    line-height: 1;
}
.education-words h6{
    position: relative;
    font-size: 1.75rem;
    font-weight: normal;
    margin: 1rem 4rem 0 0;
    left: 3.25%;
}
@media screen and (max-width: 2141px) {
    .experience-words h5{
        font-size: 2.25rem;

    }
    .education-words h5{
        font-size: 2rem;
    }
}
@media screen and (max-height: 1090px) {
    .experienceWidget,
    .educationWidget {
        height: 40rem;
    }
}